[submodule "messaging"]
	path = messaging
	url = git@github.com:viLoqi/messaging.git
[submodule "client"]
	path = client
	url = git@github.com:viLoqi/client.git
[submodule "file"]
	path = file
	url = git@github.com:viLoqi/file.git
[submodule "cloud_functions"]
	path = cloud_functions
	url = git@github.com:viLoqi/cloud_functions.git
[submodule "system"]
	path = system
	url = git@github.com:viLoqi/system.git
