[submodule "messaging"]
	path = messaging
	url = git@github.com:viLoqi/messaging.git
[submodule "client"]
	path = client
	url = git@github.com:viLoqi/client.git
[submodule "file"]
	path = file
	url = git@github.com:viLoqi/file.git
